exports.COGNITO_USERPOOL_ID = "${COGNITO_USERPOOL_ID}";
exports.COGNITO_JWKS = ${COGNITO_JWKS};
exports.COGNITO_REGION = "${AWS_DEFAULT_REGION}";
exports.COGNITO_CLIENT_ID = "${COGNITO_CLIENT_ID}";
exports.COGNITO_CLIENT_SECRET = "${COGNITO_CLIENT_SECRET}";
exports.REDIRECT_URI = "${REDIRECT_URI}";
exports.OAUTH_AUTH_RESPONSE = "/";
exports.COGNITO_DOMAIN="${COGNITO_DOMAIN}"
